.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ChildCard{
  
  height: 360px;
    width: 25%;
    float: left;
}
.Category-Img1{
  height: 360px;
    float:left;
    width: 25%;
    background-color:;
}
.Gallery {
    margin: 5px;
    float: left;
    width: 337px;
    height: 354px;
    background-color: #ffffff;
}
.Gallery img {
    width: 100%;
    height: auto;
}

.Desc {
    text-align: left;
    padding-left: 10px;
}
.Text7 {
  display: block;
    font-size: 13px;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    margin-top: -9px;
}
.Fontsize{
  font-family: bold;
  margin-bottom: -4px;
}
.Fontsize:hover{
  text-decoration: underline;
}
.Text7:hover{
  text-decoration: underline;
}
.Gallery:hover{
  border: 2px solid #e7e7e7;
}
.Category1{
  height: 370px;
  margin: auto;
  width: 1400px;
  background: linear-gradient(180deg,#fff 85%,#e7e7e7);
}

@media only screen and (min-width: 480px) and (max-width: 768px){
 .ChildCard{
  
  height: 570px;
  width: 50%;
  float: left;

}
}
@media only screen  and (max-width: 480px){
 .ChildCard{
  
  height: 570px;
  width: 100%;
  float: left;
}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
